form {
    margin-bottom:5rem;
    label {
        display:block;
        color:$primary-color;
        font-weight:bold;
    }
    input[type=text], textarea {
        background-color:#fff;
        padding:1rem 2rem;
        border:1px solid lighten($text-color, 60%);
        display:block;
        width:calc(100% - 4rem);
        margin-bottom:1rem;
    }
    .btn {
        height:55px !important;
        font-size:1rem;
        cursor:pointer;
    }
}