$primary-color: #38a4ef;
$primary-color-hover: #1b8cdd;
$secondary-color: #ff9d09;
$secondary-color-hover: #d8850a;
$text-color: #333;

@mixin container {
    max-width: 100%;
    padding: 0 5vw;
}

@mixin box-shadow {
    box-shadow: 8px 8px 30px 0px rgb(0,0,0,.15);    
}

body {
    padding:0;
    margin:0;
    font-size: 16px;
    font-weight: 400;
    color:$text-color;
    font-family: 'Open Sans', sans-serif;
    background-color:#fff;
    overflow-x:hidden;
}

p {
    line-height:2rem;
}

.text-center {
    text-align:center;
}
.container {
    @include container;
}

.row {
    img {
        max-width: 90%;
        margin: 0 auto;
        display: block;
    }
}

.btn {
    display: inline-block;
    margin-right: auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 0;
    color: #333;
    position: relative;
    line-height: 3.5rem;
    height: 33px;
    padding-right:4rem;
    @include box-shadow;
    i {
        font-size:2.5rem;
        position: relative;
        text-align: center;
        display: inline-block;
        margin-left: 14px;
        position: absolute;
        right:.5rem;
        top:0;
    }
    &.btn-primary {
        background-color: $primary-color;
        color:#fff;
        border:none;
        &:hover {
            background:$primary-color-hover;
        }
    }
    &.btn-secondary {
        background-color: $secondary-color;
        color:#fff;
        border:none;
        &:hover {
            background:$secondary-color-hover;
        }
    }
    &:hover {
        background:$text-color;
        color:#fff;
    }
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.centerdiv {
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
}
.mobilemenu {
    display:none;
}