.services {
    .servicesinfo {
        margin:10rem 0;
        h2 {
            font-size: 1.25rem;
            text-transform: uppercase;
        }
        h3 {
            font-size:3rem;

        }
    }
}